<h1>New kitty</h1>

<form id="new-kitty" name="kitty">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="lives"> lives:</label>
    <input type="text" name="lives" id="lives" value="<%= lives %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Kitty" />
  </div>

</form>

<a href="#/index">Back</a>